<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/styles/base.css">
    <link rel="stylesheet" href="../static/styles/bootstrap.css">
    <style>
        html {
            height: 100%;
        }

        body {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
    </style>
</head>
<body>

<div class="card">
    <div class="card-header">登陆</div>
    <form class="card-block" method="post" onsubmit="return validInput();">
        <label for="username" class="form-label">用户名</label>
        <input type="text" name="username" required id="username" placeholder="用户名" minlength="3"
               maxlength="20" class="form-control"
               autocomplete="name">
        <label for="password" class="form-label">密码</label>
        <input type="password" name="password" required id="password" placeholder="密码"
               autocomplete="password" maxlength="25" class="form-control">
        <label for="valid" class="form-label">验证码</label>
        <div class="row mb-3">
            <input id="valid" placeholder="验证码" required style="flex-grow: 2;flex-basis: 100px" type="text"
                   pattern="[a-zA-Z\d]{4}" maxlength="4" class="form-control">
            <canvas id="validcanvas" width="100" height="28"
                    style="border: 1px solid #ddd;margin-left: 12px;flex-grow: 1">
                你的浏览器不支持canvas请使用chrome或者firefox浏览器
            </canvas>
        </div>
        <div class="row justify-content-end">
            <button class="btn btn-primary">登陆</button>
        </div>
    </form>
    <div class="card-footer">
        <a class="small" href="forget_password.html">忘记了密码?</a>
        <a href="#" class="small ml-2">还没有账号去注册</a>
    </div>

</div>

<script src="../static/js/base.js" defer></script>

</body>
</html>