<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>nav</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/base.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/nav.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/bootstrap.css">
</head>
<body>
<header>
    <nav class="navbar">
        <button class="nav-toggle"></button>
        <div class="navbar-navs">
            <a class="nav-brand" href="#">标题</a>
            <a class="active" href="#">首页</a>
            <a href="#">分类</a>
            <a href="#">推荐</a>
            <a href="#">关于</a>
        </div>
        <div class="navbar-form">
            <input class="form-control" type="text" placeholder="Search">
            <button class="btn btn-outline-success" type="submit">搜索</button>
        </div>
    </nav>
</header>
</body>
</html>