<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>发表新帖</title>
    <link rel="stylesheet" href="../static/styles/editor.css">
    <link rel="stylesheet" href="../static/styles/font-md.css">
    <link rel="stylesheet" href="../static/styles/style.css">
</head>
<body class="container">
<h1>发表新帖</h1>
<div class="form-inline my-2">

    <label class="sr-only" for="type">type</label>
    <select class="custom-select mr-sm-2 mb-sm-0 mb-2" id="type">
        <option value="1" selected>分区XXX</option>
        <option value="2">分区2</option>
        <option value="3">分区3</option>
        <option value="3">分区4</option>
    </select>

    <label class="sr-only" for="input2">input</label>
    <div class="input-group mb-2 mb-sm-0 mr-sm-2">
        <div class="input-group-addon">标题</div>
        <input type="text" class="form-control" id="input2" placeholder="标题...">
    </div>

    <label class="sr-only" for="tags">标签</label>
    <div class="input-group mb-2 mb-sm-0 mr-sm-2">
        <div class="input-group-addon">标签</div>
        <input type="text" class="form-control" id="tags" placeholder="标签,多个标签以','隔开...">
        <button class="input-group-addon">添加</button>
    </div>
</div>

<div id="editor" class="editor">
</div>

<div class="row p-2">
    <button class="btn btn-primary">发表帖子</button>
    <button class="btn btn-warning mx-2">存为草稿</button>

    <div class="btn-group dropup" id="draft">
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">草稿箱
            <span class="badge badge-warning">12</span>
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">草稿一 <span class="badge badge-default">2016-09-12</span></a>
            <a class="dropdown-item" href="#">草稿一 <span class="badge badge-default">2016-09-12</span></a>
            <a class="dropdown-item" href="#">草稿一 <span class="badge badge-default">2016-09-12</span></a>
            <a class="dropdown-item" href="#">草稿一 <span class="badge badge-default">2016-09-12</span></a>
            <a class="dropdown-item" href="#">草稿一 <span class="badge badge-default">2016-09-12</span></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">清空草稿箱</a>
        </div>
    </div>
</div>

<script src="../static/js/marked.js"></script>
<script src="../static/js/highlight.js"></script>
<script src="../static/js/smiley.js"></script>
<script src="../static/js/editor.js"></script>
<script>
    const draftBox = document.querySelector("#draft");
    const draftButton = draftBox.querySelector("button");

    draftButton.addEventListener('click', () => {
        if (draftBox.className.includes("show")) {
            draftBox.className = "btn-group dropup";
        } else {
            draftBox.className = "btn-group dropup show";
        }
    });

    [...draftBox.querySelectorAll('.dropdown-item')].forEach((v, k) => {
        v.addEventListener('click', () => {
            draftBox.className = "btn-group dropup";
        })
    });


    const testText = `
[TOC]
#### Disabled options

- TeX (Based on KaTeX);
- Emoji;
- Task lists;
- HTML tags decode;
- Flowchart and Sequence Diagram;

#### Editor.md directory

    editor.md/
            lib/
            css/
            scss/
            tests/
            fonts/
            images/
            plugins/
            examples/
            languages/
            editormd.js
            ...`;
    //窗口载入完成
    window.onload = function () {
        let editorbox = document.querySelector("#editor");
        new Editor(editorbox);

        let preview = document.querySelector("#markdown-preview");
        let input = document.querySelector("#editor-input");
        let textarea = document.querySelector("textarea");
        textarea.innerHTML = testText;

        marked.setOptions({
            highlight: function (code, lang) {
                if (lang && hljs.getLanguage(lang)) {
                    try {
                        console.log(lang);
                        return hljs.highlight(lang, code).value;
                    } catch (err) {
                        console.log(err);
                    }
                }
                try {
                    return hljs.highlightAuto(code).value;
                } catch (err) {
                    console.log(err);
                }

                return code;
            }
        });


        mark(input.value, preview);

        input.oninput = function () {
            mark(input.value, preview);
        };

        textarea.addEventListener('scroll', function () {
            syncScroll(textarea, preview);
        });
    };

    function mark(text, preview) {
        marked(text, function (err, content) {
            if (err) throw err;
            preview.innerHTML = content;
        });
    }
</script>
</body>
</html>