<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body style="max-width: 960px;margin: 0 auto">
<h1>注册</h1>
<form id="form" method="post" onsubmit="return validInput()">
    <label for="username">用户名</label>
    <span id="usernameInfo" style="color:red"></span>
    <br/>
    <input type="text" name="username" required id="username" placeholder="用户名" minlength="3" maxlength="25"
           autocomplete="name">
    <br/>
    <label for="email">邮箱</label>
    <span id="emailInfo" style="color:red"></span>
    <br/>
    <input type="email" name="email" required id="email" placeholder="邮箱" autocomplete="email" maxlength="25">
    <br/>
    <label for="valid">验证码</label>
    <span id="validInfo" style="color:red"></span>
    <br/>
    <canvas id="validcanvas" width="100" height="28" style="border: 1px solid #e2e2e2;">
        你的浏览器不支持canvas请使用chrome或者firefox浏览器
    </canvas>
    <br/>
    <input id="valid" placeholder="验证码" required style="width: 185px" type="text"
           pattern="[a-zA-Z\d]{4}" maxlength="4">
    <br/>
    <input type="checkbox" id="checkbox"><a href="https://www.baidu.com/">同意协议</a>
    <br/>
    <button type="submit" style="margin-top: 12px" disabled>提交</button>
</form>
<script type="text/javascript" src="../static/js/base.js"></script>
<script type="text/javascript">
    const usernameInput = document.querySelector("#username");
    const emailInput = document.querySelector("#email");
    const validCodeInput = document.querySelector("#valid");
    const usernameInfo = document.querySelector("#usernameInfo");
    const emailInfo = document.querySelector("#emailInfo");
    const validInfo = document.querySelector("#validInfo");
    const checkBox = document.querySelector("#checkbox");
    const button = document.querySelector("button");
    const form = document.querySelector("#form");
    const yzmCanvas = document.querySelector("#validcanvas");

    let usernameState = false;
    let emailState = false;

    window.addEventListener("load", function () {
        createYZM(yzmCanvas)
    });

    function validInput() {
        if (!usernameState) {
            usernameInput.setCustomValidity("用户名不可用");
            return false;
        } else {
            usernameInput.setCustomValidity("")
        }

        if (!emailState) {
            emailInput.setCustomValidity("email不可用");
            return false;
        } else {
            emailInput.setCustomValidity("")
        }

        if (!checkValid()) {
            validCodeInput.setCustomValidity("验证码错误");
            return false;
        } else {
            validCodeInput.setCustomValidity("");
        }

        return true;
    }

    validCodeInput.addEventListener("keyup", function () {
        checkValid()
    });

    checkBox.addEventListener("change", function () {
        button.disabled = !checkBox.checked;
    });

    usernameInput.addEventListener("keyup", function () {
        usernameState = false;
        usernameInfo.innerHTML = "";
    });

    usernameInput.addEventListener("change", function () {
        console.log(usernameInput.value);
        usernameState = false;
        checkUsername(usernameInput.value);
    });

    emailInput.addEventListener("keyup", function () {
        emailState = false;
        emailInfo.innerHTML = "";
    });
    emailInput.addEventListener("change", function () {
        emailState = false;
        checkEmail(emailInput.value);
    });

    function checkUsername(username) {
        if (!usernameInput.checkValidity()) {
            return;
        }
        ajax.get(window.location.href,
            {mod: 'checkUsername', username: username},
            function (status, response) {
                usernameState = true;
                usernameInfo.style.color = 'green';
                usernameInfo.innerHTML = "可用";

            },
            function (status, response) {
                console.log(status, response);
                usernameState = false;
                usernameInfo.style.color = 'red';
                usernameInfo.innerHTML = username + "不可用";
            });
    }

    function checkEmail(email) {
        if (!emailInput.checkValidity()) {
            return
        }
        ajax.get(window.location.href,
            {mod: 'checkEmail', email: email},
            function (status, response) {
                emailState = true;
                emailInfo.style.color = 'green';
                emailInfo.innerHTML = "可用";
            },
            function (status, response) {
                console.log(status, response);
                emailState = false;
                emailInfo.style.color = 'red';
                emailInfo.innerHTML = email + "不可用";
            });
    }

    let code = [];
    function checkValid(valid) {
        valid = validCodeInput.value;
        console.log(valid.length);
        if (valid.length == 4) {
            for (let i = 0; i < 4; i++) {
                if (valid[i].toUpperCase() != code[i]) {
                    break;
                }
                if (i == 3) {
                    validInfo.style.color = "green";
                    validInfo.innerHTML = "ok";
                    return true
                }
            }
        }

        validInfo.style.color = "red";
        validInfo.innerHTML = "验证码不匹配";
        return false;
    }

    function createYZM(canvas) {
        let i;
        code.length = 0;
        const context = canvas.getContext("2d");
        context.clearRect(0, 0, canvas.width, canvas.height);

        const random = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R',
            'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'];
        const colors = ["red", "green", "brown", "blue", "orange", "purple", "black"];

        for (i = 0; i < 4; i++) {
            const index = Math.floor(Math.random() * 36);
            code.push(random[index]);
        }
        context.beginPath();
        // Sprinkle in some random dots
        for (i = 0; i < 10; i++) {
            let px = Math.floor(Math.random() * canvas.width);
            let py = Math.floor(Math.random() * canvas.height);
            context.moveTo(px, py);
            context.lineTo(px + 1, py + 1);
            context.strokeStyle = colors[Math.floor(Math.random() * colors.length)];
            context.lineWidth = Math.floor(Math.random() * 2);
            context.stroke();
        }

        for (i = 0; i < 2; i++) {
            //随机线条
            context.moveTo(0, Math.floor(Math.random() * canvas.height));//随机线的起点x坐标是画布x坐标0位置，y坐标是画布高度的随机数
            context.lineTo(canvas.width, Math.floor(Math.random() * canvas.height));//随机线的终点x坐标是画布宽度，y坐标是画布高度的随机数
            context.lineWidth = 0.3;//随机线宽
            context.strokeStyle = colors[Math.floor(Math.random() * colors.length)];
            context.stroke();//描边，即起点描到终点
        }

        let deg, cos, sin, dg;
        context.font = "20px Arial";
        let cx = (canvas.width - 30) / 3;
        for (i = 0; i < 4; i++) {
            context.fillStyle = colors[Math.floor(Math.random() * colors.length)];
            //产生一个正负30度以内的角度值以及一个用于变形的dg值
            dg = Math.random() * 4.5 / 10;
            deg = Math.floor(Math.random() * 60);
            deg = deg > 30 ? (30 - deg) : deg;
            cos = Math.cos(deg * Math.PI / 180);
            sin = Math.sin(deg * Math.PI / 180);

            context.save();
            context.setTransform(cos, sin + dg, -sin + dg, cos, cx * (i + 1) - 12, 18);
            context.fillText(code[i], 0, 0);
            context.restore();
        }

        canvas.onclick = function () {
            context.clearRect(0, 0, canvas.width, canvas.height);
            createYZM(canvas);
        }
    }
</script>
</body>
</html>