<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>找回密码</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/styles/style.css">
    <style>
        html {
            height: 100%;
        }

        body {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
    </style>
</head>
<body>
<div class="card" style="width: 320px">
    <div class="alert alert-success" role="alert">
        <strong>找回密码!</strong><br>
        验证码将会发送至你的注册邮箱.
    </div>
    <form class="card-block" method="post" onsubmit="return validInput();">
        <label for="email" class="form-label">注册的邮箱</label>
        <input type="text" name="email" required id="email" placeholder="注册的邮箱" minlength="5"
               maxlength="20" class="form-control"
               autocomplete="email">
        <div class="row justify-content-end mt-2">
            <button class="btn btn-primary">发送验证码</button>
        </div>
    </form>
    <div class="card-footer">
        <a class="small" href="login">想起了密码?去登陆</a>
        <a class="small ml-2" href="register">去注册</a>
    </div>
</div>

<script src="../static/js/base.js" defer></script>
<script src="../static/js/particles.js" defer></script>
</body>
</html>