<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/styles/style.css">
    <style>
        .row {
            margin-bottom: 1rem;
            align-items: center;
        }

        .row > label:first-child {
            width: 100px;
        }

        input:not([type=radio]) {
            flex-grow: 1;
        }

        canvas {
            border: 1px solid #e2e2e2;
            margin-right: 12px;
        }
    </style>
</head>
<body>

<main class="container">
    <b>设置头像</b>
    <div class="row align-items-end">
        <canvas id="avatar" width="160" height="160" title="设置头像"></canvas>
        <input id="avatar_input" type="file" accept="image/*;"/>
    </div>
    <b>个人信息</b>
    <div class="row">
        <label for="description">个人简介</label>
        <textarea id="description" class="form-control col-auto" style="height: 4em;"
                  placeholder="个人简介"></textarea>
    </div>
    <div class="row">
        <label>性别</label>
        <div class="col-auto">
            <label class="custom-control custom-radio">
                <input type="radio" name="sex" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">保密</span>
            </label>
            <label class="custom-control custom-radio">
                <input type="radio" name="sex" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">男</span>
            </label>
            <label class="custom-control custom-radio">
                <input type="radio" name="sex" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">女</span>
            </label>
        </div>
    </div>
    <div class="row">
        <label for="birthday">出生日期</label>
        <input id="birthday" type="date" class="form-control col-auto">
    </div>
    <div class="row">
        <label for="site">个人主页</label>
        <input id="site" type="url" placeholder="个人主页" minlength="3" class="form-control col-auto">
    </div>
    <div class="row">
        <label for="phone">手机</label>
        <input id="phone" type="tel" minlength="11" maxlength="11"
               placeholder="手机" pattern="^((13[0-9])|(15[^4])|(18[0,2,3,5-9])|(17[0-8])|(147))\\d{8}$"
               class="form-control col-auto">
    </div>
    <div class="row">
        <label for="email">邮箱</label>
        <input id="email" type="tel" placeholder="邮箱" value="2351386755@qq.com" readonly
               class="form-control col-auto">
    </div>
    <b>密码设置</b>
    <div class="row">
        <label for="passpre">当前密码</label>
        <input id="passpre" type="password" class="form-control col-auto">
    </div>
    <div class="row">
        <label for="passnew">新密码</label>
        <input id="passnew" type="password" minlength="6" maxlength="20" class="form-control col-auto">
    </div>
    <div class="row">
        <label for="passnewr">确认密码</label>
        <input id="passnewr" type="password" minlength="6" maxlength="20" class="form-control col-auto">
    </div>
</main>

<script>
    const avatar_big = document.querySelector("#avatar");
    const imginput = document.querySelector("#avatar_input");

    let context;
    let img, imgX = 0, imgY = 0, imgScale = 1;

    let len = avatar_big.offsetWidth;
    context = avatar_big.getContext('2d');
    let imgWidth, imgHeight;

    imginput.onchange = function (e) {
        let file = e.target.files[0];
        let size = file.size;
        let kbsize = Math.round(size * 100 / 1024) / 100;
        if (kbsize > 2048) {
            alert("图片太大,大小为" + kbsize + "kb！请选择小于2M的图片");
            return false;
        }
        let reader = new FileReader();
        reader.onload = function () {
            let res = reader.result;
            img = new Image();
            img.src = res;
            img.onload = function () {
                imgX = imgY = 0;
                if (img.width < img.height) {//w小
                    imgWidth = len;
                    imgHeight = img.height * len / img.width;
                } else {//h 小
                    imgHeight = len;
                    imgWidth = img.width * len / img.height;
                }
                //图片的坐标
                let px = (len - imgWidth) / 2;
                let py = (len - imgHeight) / 2;
                context.clearRect(0, 0, len, len);
                context.drawImage(img, px, py, imgWidth, imgHeight);
            }
        };
        reader.readAsDataURL(file);
    };


    function drawImage() {
        context.clearRect(0, 0, len, len);
        context.drawImage(img, imgX, imgY, imgWidth * imgScale, imgHeight * imgScale);
    }

    avatar_big.onmousedown = function (event) {
        let pos = windowToCanvas(avatar_big, event.clientX, event.clientY);
        avatar_big.onmousemove = function (event) {
            avatar_big.style.cursor = "move";
            let pos1 = windowToCanvas(avatar_big, event.clientX, event.clientY);
            let x = pos1.x - pos.x;
            let y = pos1.y - pos.y;
            pos = pos1;
            imgX += x;
            imgY += y;

            if (imgX < len - imgWidth * imgScale) {
                imgX = len - imgWidth * imgScale;
            }
            if (imgX > 0) {
                imgX = 0;
            }
            if (imgY < len - imgHeight * imgScale) {
                imgY = len - imgHeight * imgScale;
            }
            if (imgY > 0) {
                imgY = 0;
            }
            drawImage();
        };

        document.onmouseup = function () {
            avatar_big.onmousemove = null;
            document.onmouseup = null;
            avatar_big.style.cursor = "default";
        };

        return false;
    };

    avatar_big.onmousewheel = function (event) {
        let pos = windowToCanvas(avatar_big, event.clientX, event.clientY);
        console.log("pos:", pos.x);
        if (event.wheelDelta > 0) {
            imgScale *= 2;
            if (imgScale > 5) {
                imgScale /= 2;
                return;
            }
            imgX = imgX * 2 - pos.x;
            imgY = imgY * 2 - pos.y;
            drawImage();
        } else {
            imgScale /= 2;
            if (imgScale < 1 || imgWidth * imgScale < len || imgHeight * imgScale < len) {
                imgScale *= 2;
                return;
            }
            imgX = imgX / 2 + pos.x / 2;
            imgY = imgY / 2 + pos.y / 2;
            drawImage();
        }
        return false;
    };

    function windowToCanvas(canvas, x, y) {
        let bbox = canvas.getBoundingClientRect();
        return {
            x: x - bbox.left - (bbox.width - canvas.width) / 2,
            y: y - bbox.top - (bbox.height - canvas.height) / 2
        };
    }

</script>
</body>
</html>