<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/styles/base.css">
    <link rel="stylesheet" href="../static/styles/style.css">
    <link rel="stylesheet" href="../static/styles/post.css">
</head>
<body class="container row">

<article class="col-sm-9">
    <header>
        <nav class="breadcrumb">
            <a class="breadcrumb-item" href="#">Home</a>
            <a class="breadcrumb-item" href="#">Library</a>
            <a class="breadcrumb-item" href="#">Data</a>
            <span class="breadcrumb-item active">Bootstrap</span>
        </nav>
        <h1 id="title">{{.Title}}</h1>
        <span class="text-muted small">
            作者:<a href="#">{{.Author}}</a>
            发布日期:<time datetime="{{.Created}}">{{.Created}}</time>
            浏览数:{{.Views}}
            回复数:<a href="#comment">{{.Replys}}</a>
        </span>
        <hr/>
    </header>
    <main id="content">
        <p>
            几年前，电子竞技或许还是男生的专利。如今，芬达、小蕊、小洁、紫薇和然然，五个女孩聚在一起，成为安徽首个电竞女子职业战队成员，她们有梦想，颜值高，收入丰。她们加入电子竞技的背后，是整个电竞行业进入正规化、产业化的一个缩影。
            一直以来，很多人把玩游戏称之不务正业。然而，近两年随着电子竞技的蓬勃发展，部分高校也开设了电竞专业。依靠电竞行业所衍生的解说、主播、媒体等相关行业方兴未艾。
            “我们战队是1年前成立的，这5个女孩都是通过招聘考试选拔进来的，都是95后。”NY战队的老板杨天琪告诉记者，“合肥的电竞市场才刚刚起步，前景巨大，而女子职业战队还比较新鲜，关注度也高。”在日常的训练之余，杨天琪会经常带着战队成员奔赴全国各地打比赛，以及对接一些商业活动。
            这五个“95后”女孩，每周一休息，其它时间从下午1点到晚上10点，都在训练。“除了吃饭、睡觉，基本上一直都在打游戏。”来自湖北的小蕊说，她玩游戏已经四五年之久，“成为职业选手之后一开始有点累，但能和队友在一起，觉得时间过得特别快，尤其是现在终于能做自己喜欢的事情了。”
            “我比较享受大家在一起训练、打比赛的那种气氛。”然然觉得以前的生活没有方向，而现在有了希望，步入了正轨，“虽然每天晚上训练结束之后，很疲惫，但第二天早上起来，又满血复活了。”
            五个女孩热爱游戏，热爱生活，认为游戏是改变生活的一种方式，代表了她们对生活的态度。更为重要的是，她们能够通过游戏养活自己，改变了别人对她们的看法。
            NY战队队员每个月的底薪为5000元，奖金另算，包吃包住。“我是大二休学来打电竞的，以前的朋友同学都挺羡慕我的，现在长辈们也能接受我从事这个行业。”紫薇说，电竞行业的产业化，使得很多人对这一行有了全新的认识，“玩游戏并不是那么简单，更不是玩物丧志，通过训练和比赛不仅可以锻炼我们的团队合作精神，反应能力、逻辑思维能力等都会得到提升，而且同其它行业一样，我们也拿工资，也有稳定的收入。”
            相对于男子战队，女子电竞市场犹如一座等待挖掘的金山。现在大多数女队都会选择让自己的队员在直播平台上直播。她们边打游戏边解说，实时播出全程。直播可以帮助女队宣传自己的品牌和增加人气，影响力，更有不菲的收入。NY战队也不例外，队员芬达已经成为一个小有名气的主播。
        </p>

        <p>
            “我们每个月的常规开销在6万元左右。”在杨天琪看来，处于萌芽期的女子战队，未来的潜力和商业市场巨大，“女队的竞争并不激烈，在安徽目前只有我们一家，更容易接到商业活动，现在收益也不错。”正如杨天琪所说，性别的先天优势和颜值吸引，对于广大男性玩家而言，女子战队拥有着天生的吸引力。随着女子联赛和女子战队汹涌而来，无论是粉丝经济的拥戴还是商业代言的宣传，抑或是与直播平台的合作，女子战队都将有着数倍于男子战队的商业价值。
        </p>
        <p>
            在合肥第十一届全民运动会电子竞技比赛上，与男选手同场竞技的NY女子战队，获得了第5名的好成绩。杨天琪期待，“在合肥举办的比赛越来越多，职业战队也越来越多，这样我们的发展就会越来越好，投入和付出，也会有回报。”（文/摄
            苏扬）
        </p>
        <p>
            芬达、小蕊、小洁、紫薇和然然，五个女孩聚在了一起，成为安徽第一支电竞女子职业战队队员。她们有梦想，颜值高，收入丰。她们加入电子竞技的背后，是整个电竞行业进入正规化、产业化的一个缩影。图为NY女子电竞战队合影。
        </p>

    </main>
    <footer>
        <hr/>
        <span class="text-muted small">最后更新<time datetime="{{.Updated}}">{{.Updated}}</time> by <a
                href="#">yang</a></span>
        <div><b>相似文章</b></div>
        <ul>
            <li><a href="#">loelfjoifjws</a></li>
            <li><a href="#">loelfjoifjws</a></li>
            <li><a href="#">loelfjoifjws</a></li>
            <li><a href="#">loelfjoifjws</a></li>
        </ul>
    </footer>
    <section id="comment">
        <div class="row justify-content-between">
            <strong>评论<span class="badge badge-default ml-1">199</span></strong>
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </div>
        <hr/>
        <ul id="comment-list" style="list-style: none" class="p-0">
            <li class="comment-item">
                <div class="comment-header">
                    <img class="avater" src="../static/images/avater.jpg">
                    <a class="ml-2" href="#">{{.UserName}}</a>
                    <span class="badge badge-info" href="#">lv4</span>
                </div>
                <div class="comment-body">
                    “我们每个月的常规开销在6万元左右。”在杨天琪看来，处于萌芽期的女子战队，未来的潜力和商业市场巨大，“女队的竞争并不激烈，在安徽目前只有我们一家，更容易接到商业活动，现在收益也不错。”正如杨天琪所说，性别的先天优势和颜值吸引，对于广大男性玩家而言，女子战队拥有着天生的吸引力。随着女子联赛和女子战队汹涌而来，无论是粉丝经济的拥戴还是商业代言的宣传，抑或是与直播平台的合作，女子战队都将有着数倍于男子战队的商业价值。
                </div>
                <div class="comment-footer">
                    <span class="badge badge-default">5#</span>
                    <div class="mx-2">2017-03-20 20:00:00</div>
                    <a href="#" class="btn btn-outline-primary">回复</a>
                </div>
            </li>
            <li class="comment-item">
                <div class="comment-header">
                    <img class="avater" src="../static/images/avater.jpg">
                    <a class="ml-2" href="#">{{.UserName}}</a>
                    <span class="badge badge-info" href="#">lv4</span>
                </div>
                <div class="comment-body">
                    “我们每个月的常规开销在6万元左右。”在杨天琪看来，处于萌芽期的女子战队，未来的潜力和商业市场巨大，“女队的竞争并不激烈，在安徽目前只有我们一家，更容易接到商业活动，现在收益也不错。”正如杨天琪所说，性别的先天优势和颜值吸引，对于广大男性玩家而言，女子战队拥有着天生的吸引力。随着女子联赛和女子战队汹涌而来，无论是粉丝经济的拥戴还是商业代言的宣传，抑或是与直播平台的合作，女子战队都将有着数倍于男子战队的商业价值。
                </div>
                <div class="comment-footer">
                    <span class="badge badge-default">5#</span>
                    <div class="mx-2">2017-03-20 20:00:00</div>
                    <a href="#" class="btn btn-outline-primary">回复</a>
                </div>
            </li>
            <li class="comment-item">
                <div class="comment-header">
                    <img class="avater" src="../static/images/avater.jpg">
                    <a class="ml-2" href="#">{{.UserName}}</a>
                    <span class="badge badge-info" href="#">lv4</span>
                </div>
                <div class="comment-body">
                    “我们每个月的常规开销在6万元左右。”在杨天琪看来，处于萌芽期的女子战队，未来的潜力和商业市场巨大，“女队的竞争并不激烈，在安徽目前只有我们一家，更容易接到商业活动，现在收益也不错。”正如杨天琪所说，性别的先天优势和颜值吸引，对于广大男性玩家而言，女子战队拥有着天生的吸引力。随着女子联赛和女子战队汹涌而来，无论是粉丝经济的拥戴还是商业代言的宣传，抑或是与直播平台的合作，女子战队都将有着数倍于男子战队的商业价值。
                </div>
                <div class="comment-footer">
                    <span class="badge badge-default">5#</span>
                    <div class="mx-2">2017-03-20 20:00:00</div>
                    <a href="#" class="btn btn-outline-primary">回复</a>
                </div>
            </li>
            <li class="comment-item">
                <div class="comment-header">
                    <img class="avater" src="../static/images/avater.jpg">
                    <a class="ml-2" href="#">{{.UserName}}</a>
                    <span class="badge badge-info" href="#">lv4</span>
                </div>
                <div class="comment-body">
                    “我们每个月的常规开销在6万元左右。”在杨天琪看来，处于萌芽期的女子战队，未来的潜力和商业市场巨大，“女队的竞争并不激烈，在安徽目前只有我们一家，更容易接到商业活动，现在收益也不错。”正如杨天琪所说，性别的先天优势和颜值吸引，对于广大男性玩家而言，女子战队拥有着天生的吸引力。随着女子联赛和女子战队汹涌而来，无论是粉丝经济的拥戴还是商业代言的宣传，抑或是与直播平台的合作，女子战队都将有着数倍于男子战队的商业价值。
                </div>
                <div class="comment-footer">
                    <span class="badge badge-default">5#</span>
                    <div class="mx-2">2017-03-20 20:00:00</div>
                    <a href="#" class="btn btn-outline-primary">回复</a>
                </div>
            </li>
            <li class="comment-item">
                <div class="comment-header">
                    <img class="avater" src="../static/images/avater.jpg">
                    <a class="ml-2" href="#">{{.UserName}}</a>
                    <span class="badge badge-info" href="#">lv4</span>
                </div>
                <div class="comment-body">
                    “我们每个月的常规开销在6万元左右。”在杨天琪看来，处于萌芽期的女子战队，未来的潜力和商业市场巨大，“女队的竞争并不激烈，在安徽目前只有我们一家，更容易接到商业活动，现在收益也不错。”正如杨天琪所说，性别的先天优势和颜值吸引，对于广大男性玩家而言，女子战队拥有着天生的吸引力。随着女子联赛和女子战队汹涌而来，无论是粉丝经济的拥戴还是商业代言的宣传，抑或是与直播平台的合作，女子战队都将有着数倍于男子战队的商业价值。
                </div>
                <div class="comment-footer">
                    <span class="badge badge-default">5#</span>
                    <div class="mx-2">2017-03-20 20:00:00</div>
                    <a href="#" class="btn btn-outline-primary">回复</a>
                </div>
            </li>
            <li class="comment-item">
                <div class="comment-header">
                    <img class="avater" src="../static/images/avater.jpg">
                    <a class="ml-2" href="#">{{.UserName}}</a>
                    <span class="badge badge-info" href="#">lv4</span>
                </div>
                <div class="comment-body">
                    “我们每个月的常规开销在6万元左右。”在杨天琪看来，处于萌芽期的女子战队，未来的潜力和商业市场巨大，“女队的竞争并不激烈，在安徽目前只有我们一家，更容易接到商业活动，现在收益也不错。”正如杨天琪所说，性别的先天优势和颜值吸引，对于广大男性玩家而言，女子战队拥有着天生的吸引力。随着女子联赛和女子战队汹涌而来，无论是粉丝经济的拥戴还是商业代言的宣传，抑或是与直播平台的合作，女子战队都将有着数倍于男子战队的商业价值。
                </div>
                <div class="comment-footer">
                    <span class="badge badge-default">5#</span>
                    <div class="mx-2">2017-03-20 20:00:00</div>
                    <a href="#" class="btn btn-outline-primary">回复</a>
                </div>
            </li>
        </ul>
    </section>
    <section class="row justify-content-end">
        <textarea placeholder="回复" class="form-control mb-2" style="height: 100px"></textarea>
        <a href="#" class="btn btn-warning">表情</a>
        <a href="#" class="btn btn-primary ml-2">发表</a>
    </section>
</article>

<aside class="col-sm-3 mt-5">
    <div class="list-group my-2">
        <div class="list-item list-item-info">分类</div>
        <a href="#" class="list-item justify-content-between">技术<span
                class="badge badge-default badge-pill">14</span></a>
        <a href="#" class="list-item justify-content-between">杂谈<span
                class="badge badge-default badge-pill">14</span></a>
        <a href="#" class="list-item justify-content-between">分享<span
                class="badge badge-default badge-pill">14</span></a>
        <a href="#" class="list-item justify-content-between">福利<span
                class="badge badge-default badge-pill">14</span></a>
        <a href="#" class="list-item justify-content-between">未分类<span
                class="badge badge-default badge-pill">14</span></a>
    </div>

    <div class="card mb-2">
        <div class="card-header card-header-info">标签</div>
        <div class="card-block">
            <a href="#" class="badge badge-default">标签1</a>
            <a href="#" class="badge badge-default">标签1</a>
            <a href="#" class="badge badge-default">标签1</a>
            <a href="#" class="badge badge-default">标签1</a>
            <a href="#" class="badge badge-default">标签1</a>
            <a href="#" class="badge badge-default">标签1</a>
            <a href="#" class="badge badge-default">标签1</a>
            <a href="#" class="badge badge-default">标签1</a>
        </div>
    </div>

    <div class="list-group mb-2">
        <div href="#" class="list-item list-item-info">热门文章</div>
        <a href="#" class="list-item">11111</a>
        <a href="#" class="list-item">22222</a>
        <a href="#" class="list-item">Porta ac consectetur ac</a>
        <a href="#" class="list-item disabled">Vestibulum at eros</a>
    </div>
</aside>

</body>
</html>