<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/styles/style.css" rel="stylesheet">
</head>
<body>

<div class="user-card" style="margin: 20px">
    <img class="card-img-top" src="../static/images/card_img.webp" alt="Card image cap">
    <div class="card-block">
        <div class="row">
            <a target="_blank" href="#" class="face"><img
                    src="../static/images/avater.jpg"></a>
            <div class="user-info">
                <a href="#">悬崖边缘的猫</a>
                <span class="badge badge-info">男</span>
                <span class="badge badge-success">13</span>
            </div>
        </div>
        <p>
            <a href="#" target="_blank">关注: 15</a>
            <a href="#" target="_blank" class="ml-1">粉丝: 999</a>
        </p>
        <p class="sign">冷冷的猫粮在脸上胡乱的拍O__O</p>
        <div class="row justify-content-end">
            <a class="btn btn-primary" href="#">+关注</a>
            <a class="btn btn-info ml-2" href="#" target="_blank">私信</a>
        </div>
    </div>
</div>

</body>
</html>