.editor {
    display: flex;
    overflow: hidden;
    width: 100%;
    min-width: 600px;
    height: 640px;
    margin: 0 auto;
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .20);
}

.full-screen {
    width: 100%;
    height: 100%;
    max-width: none;
    position: fixed;
    top: 0;
    left: 0;
    border: none;
    margin: 0 auto;
    z-index: 99;
}

.editor-toolbar {
    user-select: none;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    margin: 0;
    padding: 4px 0;
    list-style: none;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 2px 3px #ddd;
    z-index: 10;
}

.editor-toolbar > li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 2px;
    border: 1px solid #fff;
    color: #666;
    transition: all 300ms ease-out;
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin: 2px 4px;
}

.editor-toolbar > li:hover, .editor-toolbar > li.active {
    border: 1px solid #ddd;
    background: #eee;
}

.editor textarea {
    font-family: "Microsoft YaHei", 微软雅黑, monospace;
    height: 100%;
    color: #05a;
    line-height: 1.5em;
    text-align: left;
    border: 1px solid #fff;
    padding: 0.5em 1em;
    outline: 0;
    font-size: 15px;
}

.editor textarea:hover {
    width: 100%;
    height: 100%;
    border: 1px solid #E8F2FF;
    transition: border-color ease-in-out 0.5s;
}

.editor-left {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #ddd;
    align-items: stretch;
    width: 50%;
    height: 100%;
}

.editor .editor-btn-close {
    width: 28px;
    height: 28px;
    font-size: 28px;
    border-radius: 500px;
    position: relative;
    top: 32px;
    right: 32px;
    z-index: 12;
    color: #888;
    transition: color 300ms ease-out;
    cursor: pointer;
}

.editor .editor-btn-close:hover {
    color: #666;
}



/*

markdown

*/
.editor-preview {
    width: 50%;
    height: 100%;
    padding: 0.5em 1em;
    font-size: 14px;
    line-height: 1.5em;
    overflow-y: auto;
}

.editor-preview pre {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #F0F0F0;
    border-radius: 3px;
    border: 1px solid #ddd;
}

.editor-preview h1, h2, h3 {
    border-bottom: 1px solid #e2e2e2;
}

/*

Original highlight.js style (c) Ivan Sagalaev <maniac@softwaremaniacs.org>

*/
.hljs-subst {
    color: #444;
}

.hljs-comment {
    color: #888888;
}

.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta-keyword,
.hljs-doctag,
.hljs-name {
    font-weight: bold;
}

/* User color: hue: 0 */

.hljs-type,
.hljs-string,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
    color: #880000;
}

.hljs-title,
.hljs-section {
    color: #880000;
    font-weight: bold;
}

.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo {
    color: #BC6060;
}

/* Language color: hue: 90; */

.hljs-literal {
    color: #78A960;
}

.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-addition {
    color: #397300;
}

/* Meta color: hue: 200 */

.hljs-meta {
    color: #1f7199;
}

.hljs-meta-string {
    color: #4d99bf;
}

/* Misc effects */

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}
