.avater {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
}

.comment-list {
    list-style: none;
    padding: 0;
}

.comment-item {
    font-size: 90%;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    margin-top: .4rem;
}

.comment-header {
    display: flex;
    align-items: center;
}

.comment-body {
    padding: .35rem 0 .1rem 0;
}

.comment-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #636c72;
    font-size: 80%;
    margin-bottom: .1rem;
}
