<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="styles/my.css">
    <link rel="stylesheet" href="styles/font-awesome.css">
    <script src="js/yzm.js"></script>
</head>
<body>
<header>
    <span class="logo">这是网站logo</span>
    <input type="text" class="search" placeholder="搜索你感兴趣的内容...">
    <nav>
        <a href="#" class="nav nav-current">Help</a>
        <a href="#" class="nav">Privacy</a>
        <a href="#" class="nav">Help</a>
        <a href="#" class="nav">Help</a>
        <a href="#" class="nav">Help</a>
    </nav>

    <div style="display: flex;flex-direction: row;align-items: center;margin-left: 48px;">
        <button class="button">发表新帖</button>
        <a href="#"><img style="width: 25px;height: 25px;margin-left: 20px;" src="//cdn.v2ex.co/gravatar/34c12be6d846ee074786d1cad76bf79f?s=48&d=retro" class="avatar"/></a>
        <a href="#" style="font-size: 14px;" class="nav">这是用户名</a>
    </div>
</header>

<main>
    <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
    <!--<dialog id="regdialog" class="dialog">-->
        <!--<div class="rowb bigger">-->
            <!--加入我的博客<br>-->
            <!--与世界分享你的知识、经验和见解-->
        <!--</div>-->
        <!--<form>-->
            <!--<div class="row" style="padding:5px 10px;">-->
                <!--<label for="username">用户名</label>-->
                <!--<input type="text" class="sl" name="username" required id="username" placeholder="用户名" maxlength="12" autocomplete="name">-->
            <!--</div>-->
            <!--<div class="row" style="padding:5px 10px;">-->
                <!--<label for="password">密码</label>-->
                <!--<input type="password" class="sl" name="password" required id="password" placeholder="密码" minlength="6">-->
            <!--</div>-->
            <!--<div class="row" style="padding:5px 10px;">-->
                <!--<label for="email">邮箱</label>-->
                <!--<input type="email" class="sl" name="email" required id="email" placeholder="邮箱" autocomplete="email">-->
            <!--</div>-->
            <!--<div class="row" style="padding:5px 10px;">-->
                <!--<label for="valid" style="width: 100%">验证码</label>-->
                <!--<input style="width: 60%" type="text" class="sl" name="valid" required id="valid" placeholder="验证码" pattern="[a-zA-Z\d]{4}">-->
                <!--<canvas id="validcanvas" width="100" height="28" style="margin-left:10px;border: 1px solid #e2e2e2;"></canvas>-->
            <!--</div>-->
            <!--<div class="row" style="justify-content:center;padding:10px;">-->
                <!--<button type="submit" class="button" autofocus>注册</button>-->
                <!--<button id="colse" class="button" style="margin-left: 20px">取消</button>-->
                <!--<a href="#" class="dark" style="margin-left: 20px">已有账号登陆</a>-->
            <!--</div>-->
        <!--</form>-->
    <!--</dialog>-->
    <dialog id="logindialog" class="dialog">
        <div class="rowb bigger">
            登陆
        </div>
        <form id="loginform">
            <div class="row" style="padding:5px 10px;">
                <label for="username">用户名</label>
                <input type="text" class="sl" name="username" required id="username" placeholder="用户名/邮箱" maxlength="15" autocomplete="name">
            </div>
            <div class="row" style="padding:5px 10px;">
                <label for="password">密码</label>
                <input type="password" class="sl" name="password" required id="password" placeholder="密码" minlength="6">
            </div>
            <div class="row" style="padding:5px 10px;">
                <label for="valid" style="width: 100%">验证码</label>
                <input style="width: 60%" type="text" class="sl" name="valid" required id="valid" placeholder="验证码" pattern="[a-zA-Z\d]{4}">
                <canvas id="validcanvas" width="100" height="28" style="margin-left:10px;border: 1px solid #e2e2e2;"></canvas>
            </div>
        </form>
        <div class="row" style="justify-content:center;padding:10px;">
            <button type="submit" class="button" form="loginform" autofocus>登陆</button>
            <button id="colse" class="button" style="margin-left: 20px">取消</button>
            <a href="#" class="dark" style="margin-left: 20px">还没有账号去注册</a>
        </div>
    </dialog>
    <button id="button" class="button" autofocus>注册</button>
    <button id="button2" class="button" autofocus>登陆</button>
</main>

<footer>
    <div>Title</div>
</footer>
<script type="text/javascript">
    /*
    var button = document.getElementById("button");
    var dialog = document.getElementById('regdialog');
    button.addEventListener('click', function() {
        dialog.showModal();
        console.log("click");
        createYZM("validcanvas");
    });
    */


    var button2 = document.getElementById("button2");
    var dialog2 = document.getElementById('logindialog');
    button2.addEventListener('click', function() {
        dialog2.showModal();
        console.log("click");
        createYZM("validcanvas");
    });

    var btnclose = document.getElementById("colse");
    btnclose.addEventListener("click",function () {
        dialog2.close();
    });
</script>
</body>
</html>