<html>  
<head>  
    <title>highlight</title>  
    <meta http-equiv="content-type" content="text/html;charset=utf-8">  
    <link rel="stylesheet" href="js/highlight/styles/default.css">  
    <script src="js/highlight/highlight.pack.js"></script>  
    <script>hljs.initHighlightingOnLoad();</script>  
      
</head>  
<body>  
<div id="changeStyleSelect" style = "margin:0 300;"></div>  
  
PHP  
<hr>  
<pre><code class="php">  
class Test {  
    private $name;  
    private $age;  
    public function __construct($array) {  
        $this->name = $array['name'];  
        $this->age = $array['age'];  
    }  
      
    public function getName() {  
        return $this->name;  
    }  
      
    public function setName($name) {  
        $this->name = $name;  
    }  
      
    public function getAge() {  
        return $this->age;  
    }  
      
    public function show() {  
        printf('my name is %s,age is %d',$this->name,$this->age);  
    }  
  
}  
</code></pre>  
  
  
javascript  
<hr>  
<pre>  
<code class="javascript">  
    test = {  
        name : function () {  
            return 'hello';  
        },  
        age : function () {  
            return 13;  
        }  
    }  
</code>  
</pre>  
  
python  
<hr>  
<pre>  
<code class="python">  
    # 读取文件内容  
    def fread(self):  
  
        # 如果指针位置大于文件大小，说明是更换了文件  
        self.filename = self.getLogPath()  
        if not os.path.isfile(self.filename):  
            while not self.checkfile() :  
                time.sleep(5)  
                self.filename = self.getLogPath()  
  
            self.fclose()  
            self.fopen()  
            self.pos = 0  
  
  
        self.hd.seek(self.pos,0)  
        fline = self.hd.readline()  
        self.pos = self.hd.tell()  
        return fline.replace("\n","")  
  
  
  
  
    # 将文件指针定位到文件尾部  
    def feof(self):  
        self.fopen()  
        # 定位到文件末尾  
        self.hd.seek(0,2)  
        #设置指针位置  
        self.pos = self.hd.tell()  
</code>  
</pre>  
  
java  
<hr>  
<pre>  
<code class="java">  
    package l2f.gameserver.model;  
  
    import java.util.ArrayList;  
  
    public abstract class L2Character extends L2Object {  
      public static final Short ABNORMAL_EFFECT_BLEEDING = 0x0_0_0_1; // not sure  
  
      public void moveTo(int x, int y, int z) {  
        _ai = null;  
        _log.warning("Should not be called");  
        if (1 > 5) {  
          return;  
        }  
      }  
  
      /** Task of AI notification */  
      @SuppressWarnings( { "nls", "unqualified-field-access", "boxing" })  
      public class NotifyAITask implements Runnable {  
        private final CtrlEvent _evt;  
  
        List mList = new ArrayList()  
  
        public void run() {  
          try {  
            getAI().notifyEvent(_evt, _evt.class, null);  
          } catch (Throwable t) {  
            t.printStackTrace();  
          }  
        }  
      }  
    }  
</code>  
</pre>      
  
  
<script>  
    styleArr = ["default.css","agate.css","atom-one-light.css", "monokai.css","androidstudio.css","brown-paper.css","monokai-sublime.css","arduino-light.css",
				"codepen-embed.css","obsidian.css","arta.css","color-brewer.css","ocean.css","ascetic.css","darcula.css","paraiso-dark.css",
				"atelier-cave-dark.css","dark.css","paraiso-light.css","atelier-cave-light.css","darkula.css","pojoaque.css","atelier-dune-dark.css",
				"purebasic.css","atelier-dune-light.css","docco.css","qtcreator_dark.css","atelier-estuary-dark.css","dracula.css",
				"qtcreator_light.css","atelier-estuary-light.css","far.css","railscasts.css","atelier-forest-dark.css","foundation.css",
				"rainbow.css","atelier-forest-light.css","github.css","school-book.css","atelier-heath-dark.css","github-gist.css",
				"solarized-dark.css","atelier-heath-light.css","googlecode.css","solarized-light.css","atelier-lakeside-dark.css","grayscale.css",
				"sunburst.css","atelier-lakeside-light.css","gruvbox-dark.css","tomorrow.css","atelier-plateau-dark.css","gruvbox-light.css",
				"tomorrow-night.css","atelier-plateau-light.css","hopscotch.css","tomorrow-night-blue.css","atelier-savanna-dark.css",
				"hybrid.css","tomorrow-night-bright.css","atelier-savanna-light.css","idea.css","tomorrow-night-eighties.css",
				"atelier-seaside-dark.css","ir-black.css","vs.css","atelier-seaside-light.css","kimbie.dark.css","xcode.css",
				"atelier-sulphurpool-dark.css","kimbie.light.css","xt256.css","atelier-sulphurpool-light.css","magula.css","zenburn.css",
				"atom-one-dark.css","mono-blue.css"];  
    selectHtml = [];  
    selectHtml.push('<select id="changeStyle">');  
    for(i in styleArr) {  
        OptionValue = styleArr[i];  
        selectHtml.push('<option value="' + OptionValue +'" >'+ OptionValue +'</option>');  
    }  
    selectHtml.push('</select>');  
    selectHtmlString = selectHtml.join("");  
    document.getElementById('changeStyleSelect').innerHTML = selectHtmlString;  
      
    obj = document.getElementById('changeStyle');  
    obj.addEventListener("change",function(event){  
        var value = this.options[this.options.selectedIndex].value;      
        l = document.createElement('link');  
        l.setAttribute('href','js/highlight/styles/'+value);  
        l.setAttribute('rel','stylesheet');  
        document.head.appendChild(l);  
    });  
      
    </script>  
</body>  
</html>  